@charset "UTF-8";
.over-page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.lg-frame {
  z-index: 1000;
  display: block; }
  .lg-frame * {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }

.bg {
  opacity: 0.7;
  background: #000; }

.login-module {
  position: relative;
  top: 190px;
  display: block;
  width: 384px;
  min-height: 460px;
  overflow: visible;
  height: auto !important;
  margin: 0 auto;
  background: #fff;
  z-index: 1100; }
  .login-module .login-page {
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
    width: 386px;
    padding: 0 40px;
    background: #fff;
    height: 460px;
    position: relative; }
    .login-module .login-page .btn-close {
      opacity: 0.6;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      background: url(../img/login/deleteImg.png) no-repeat;
      background-position: 0 -94px; }
    .login-module .login-page .btn-close:hover {
      opacity: 1; }
  .login-module .head {
    background: 0 0;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    line-height: 18px;
    margin: 0;
    width: 100%;
    height: auto;
    padding: 30px 0;
    padding-left: 40px; }
  .login-module .body {
    width: 300px;
    margin: 0 auto;
    padding: 0;
    outline: none; }
  .login-module .inputBox {
    width: 100%;
    height: 36px;
    border: 1px solid #e8e8e8;
    line-height: 36px;
    border-radius: 2px;
    z-index: 19;
    position: relative; }
    .login-module .inputBox .u-logo {
      float: left;
      width: 29px;
      text-align: center;
      padding: 7px 0 7px 7px;
      height: 24px;
      line-height: 36px; }
    .login-module .inputBox .u-logo-img {
      display: inline-block;
      width: 21px;
      height: 24px;
      margin-top: 0px;
      padding-right: 7px;
      border-right: 1px solid #e8e8e8;
      background: url(../img/login/d6bd29fcf2096cb4c5d338e0fce13919.png) 0 2px no-repeat; }
    .login-module .inputBox .password {
      background: url(../img/login/178e29b95f152a8aa6490f4f7032a8e8.png) 0 2px no-repeat; }
    .login-module .inputBox .u-input {
      float: left;
      height: 36px;
      line-height: 36px;
      padding-left: 8px;
      width: 216px;
      font-size: 14px; }
    .login-module .inputBox .input-text {
      outline: 0;
      border: 0; }
    .login-module .inputBox .input-text::-webkit-input-placeholder {
      color: #CCCCCC; }
    .login-module .inputBox .input-text::-moz-placeholder {
      color: #CCCCCC; }
    .login-module .inputBox .input-text:-ms-input-placeholder {
      color: #CCCCCC; }
  .login-module .separate {
    position: relative;
    width: 300px;
    height: 10px;
    line-height: 16px;
    font-size: 12px; }
  .login-module .login-box {
    margin-top: 40px;
    margin-bottom: 15px; }
    .login-module .login-box a {
      display: block;
      width: 100%;
      height: 48px;
      cursor: pointer;
      text-align: center;
      color: #fff;
      background: #b4a078;
      font-size: 18px;
      line-height: 48px;
      border-radius: 2px;
      text-decoration: none; }
  .login-module .unlogin {
    padding: 2px 0 9px 0;
    font-size: 0;
    height: 16px;
    line-height: 16px; }
    .login-module .unlogin a {
      height: 12px;
      text-decoration: none;
      cursor: pointer;
      color: #999;
      font-size: 12px;
      line-height: 16px; }
    .login-module .unlogin a:hover {
      color: #333; }
    .login-module .unlogin .forget-pwd {
      float: left; }
    .login-module .unlogin .change-page {
      float: right; }
  .login-module .ologin {
    height: 106px;
    text-align: left;
    color: #9fabbf; }
  .login-module .otip {
    position: relative;
    float: none;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #999999;
    z-index: 10;
    text-indent: -9999px;
    line-height: 26px; }
  .login-module .otip:before {
    content: '其他登录方式';
    position: absolute;
    top: 0;
    left: 50%;
    text-indent: 0;
    width: 120px;
    height: 100%;
    margin-left: -60px;
    background: #fff;
    z-index: 2;
    font-size: 14px; }
  .login-module .otip:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-top: 1px solid #ddd;
    z-index: 0; }
  .login-module .olist {
    margin: 0;
    padding-top: 30px;
    height: 50px;
    text-align: center; }
    .login-module .olist a {
      position: relative;
      width: 30px;
      height: auto;
      float: none;
      padding: 37px 19px 0;
      margin: 0;
      display: inline-block;
      text-align: center;
      background: none;
      font-size: 12px;
      text-decoration: none;
      color: #999; }
    .login-module .olist .weixin:before {
      content: '微信';
      width: 30px; }
    .login-module .olist a:after {
      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      width: 30px;
      height: 30px;
      margin-left: -15px;
      clear: none;
      visibility: visible;
      overflow: auto;
      content: '';
      background: url(../img/login/91e4210ce769ec652d85015b00418c40.png) no-repeat; }
    .login-module .olist .qq:before {
      content: 'QQ';
      width: 30px; }
    .login-module .olist .qq:after {
      background-position: -76px 0;
      width: 25px;
      margin-left: -12px; }
    .login-module .olist .weibo:before {
      content: '微博';
      width: 30px; }
    .login-module .olist .weibo:after {
      background-position: -146px 0;
      margin-left: -14px; }
    .login-module .olist .qiyeyou {
      width: 60px;
      padding: 37px 7px 0; }
    .login-module .olist .qiyeyou:before {
      content: '网易企业邮';
      width: 30px; }
    .login-module .olist .qiyeyou:after {
      background: url(../img/login/下载.png) no-repeat; }